@import "../../styles/abstracts";

// wrapper of both narrow and wide els
.articleCountEls {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
}

// smaller element
.remainingArticles {
  @include get-vw-small-increase(max-width, 600px, 600px);
  display: flex;
  background-color: #060606;
  color: #E3E3E3;
  width: 100%;
  @include get-vw(height, 84px, 84px);
  position: relative;
  align-items: center;
  justify-content: space-between;
  @include get-vw(padding-left, 22px, 22px);
  @include get-vw(padding-right, 22px, 22px);
  svg {
    width: auto;
    position: absolute;
    right: 11px;
    top: 11px;
  }
}
.remainingLeft {
  
}
.remainingTitle {

}
.remainingInfo {

}

// larger element
.noMoreArticles {
  background-color: #060606;
  color: #E3E3E3;
  display: none;
}

.noMoreTitle {

}

.noMoreInfo {

}

.accountLink {

}