@import "../../styles/abstracts";

.commentsSection {
  display: flex;
  flex-direction: column;
  @include get-vw-small-increase(max-width, 630px, 630px);
  svg {
    width: 20px;
  }
}

.commentsTop {
  display: flex;
  justify-content: space-between;
}

.topBox {
  display: flex;
}

.buttonGroup {
  display: flex;
}

.topButton {
  background: transparent;
  border: solid 2px black;
  padding: 10px 20px 10px 20px;
  margin-right: 20px;
}