@import "../../styles/abstracts";

.commentsSection {
  display: flex;
  flex-direction: column;
  @include get-vw-small-increase(max-width, 630px, 630px);
  margin: 0 auto;

  svg {
    width: 20px;
  }
}

.commentsTop {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid #000000;
  @include get-vw-small-increase(margin-bottom, 40px, 40px);
}

.comment {
  display: flex;
  @include get-vw-small-increase(margin-bottom, 6px, 6px);
}

.topBox {
  display: flex;
}

.buttonGroup {
  display: flex;
  gap: 20px;
  @include get-vw-small-increase(gap, 10px, 10px);
}

.collapseBtn {
  position: absolute;
  width: 14px;
  left: -6px;
  top: 0;
  height: 100%;
}

.topButton {
  padding: 8px 10px 7px;
}

.nameRow {
  font-family: $neueMed;
  @include get-vw-small-increase(font-size, 14px, 14px);
  display: flex;
  @include get-vw-small-increase(margin-bottom, 10px, 10px);
  align-items: center;
}

.name {
  font-family: $neueMed;
  @include get-vw-small-increase(font-size, 14px, 14px);
  @include get-vw-small-increase(margin-right, 7px, 7px);
  color: #1c1c1c;
}

.postedDate {
  font-family: $neueReg;
  color: #848484;
  position: relative;
  bottom: -1px;
  @include get-vw-small-increase(font-size, 12px, 12px);
}

.commentWrapper {
  display: flex;
  flex-direction: column;
}

.comment {
  font-family: $neueReg;
  @include get-vw-small-increase(font-size, 15px, 15px);
}

.commentsTop + .newCommentForm {
  margin-top: 0;
}

.errorMessage {
  font-family: $neueReg;
  color: #cc0000;
  @include get-vw-small-increase(font-size, 15px, 15px);
  @include get-vw-small-increase(margin-top, 20px, 20px);
}

.noCommentsMessage {
  font-family: $neueReg;
  color: #000000;
  font-weight: bold;
  @include get-vw-small-increase(font-size, 18px, 18px);
  @include get-vw-small-increase(margin-top, 20px, 20px);
}

.readMoreLess {
  @include get-vw-small-increase(margin-top, 5px, 5px);
  @include get-vw-small-increase(margin-bottom, 5px, 5px);
}

.newCommentForm {
  display: flex;
  width: 100%;
  position: relative;
  margin-top: 15px;

  label,
  textarea {
    width: 100%;
    height: 100%;
    display: flex;
  }

  textarea {
    padding: 10px;
    font-family: $martinaReg;
    max-width: 100%;
    min-width: 100%;
    max-height: 800px;
    border: 1px solid #060606;
    background: #f8f8f8;
    font-size: 15px;
    line-height: 1.5;
    @include get-vw-small-increase(min-height, 107px, 107px);
    @include get-vw-small-increase(padding, 10px, 10px);
    @include get-vw-small-increase(padding-bottom, 66px, 66px);
    @include get-vw-small-increase(font-size, 15px, 15px);
    @include get-vw-small-increase(font-size, 15px, 15px);
  }

  button {
    position: absolute;
    @include get-vw-small-increase(right, 10px, 10px);
    @include get-vw-small-increase(bottom, 10px, 10px);
    z-index: 2;
  }
}

.commentList {
  margin-top: 40px;

  > .threadWrapper {
    border-left: 1px solid #bebebe;
  }
}

.childComment {
  border-left: 1px solid #bebebe;
  @include get-vw-small-increase(margin-left, 20px, 20px);
  @include get-vw-small-increase(margin-top, 30px, 30px);
  @include get-vw-small-increase(margin-bottom, 30px, 30px);
}

// .nestedComments {}

.threadWrapper {
  @include get-vw-small-increase(gap, 15px, 15px);
  @include get-vw-small-increase(padding-left, 20px, 20px);
  display: flex;
  flex-direction: column;
  position: relative;

  &:last-child {
    gap: 0;
  }
}

.expandBtn {
  width: 20px;
  height: 20px;
  position: absolute;
  left: -6px;
  top: 0;

  &:after {
    content: "";
    background: #e3e3e3;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 30px;
    z-index: 1;
  }

  svg {
    width: 100%;
    z-index: 2;
    position: relative;
  }
}

.sendButton {
  background: black;
  color: white;
  padding: 10px 20px 10px 20px;
  position: absolute;
}

.moreButtonWrapper {
  display: flex;
  justify-content: center;
}

.moreButton {
  background: transparent;
  border: solid 2px black;
  padding: 10px 20px 10px 20px;
}

.likeReplyButton {
  display: flex;
  font-family: $neueMed;
  color: #848484;
  @include get-vw-small-increase(margin-top, 10px, 10px);
  @include get-vw-small-increase(font-size, 12px, 12px);
  @include get-vw-small-increase(gap, 10px, 10px);
}
