@import "../../styles/abstracts";

.commentsSection {
  display: flex;
  flex-direction: column;
  @include get-vw-small-increase(max-width, 630px, 630px);
  svg {
    width: 20px;
  }
}

.commentsTop {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
  margin-bottom: 50px;
}

.topBox {
  display: flex;
}

.buttonGroup {
  display: flex;
}

.topButton {
  background: transparent;
  border: solid 2px black;
  padding: 10px 20px 10px 20px;
  margin-right: 20px;
}

.newCommentForm {
  display: flex;
}

.childComment {
  border-left: 2px solid black;
}

.sendButton {
  background: black;
  color: white;
  padding: 10px 20px 10px 20px;
}

.moreButtonWrapper {
  display: flex;
  justify-content: center;
}

.moreButton {
  background: transparent;
  border: solid 2px black;
  padding: 10px 20px 10px 20px;
}

.likeReplyButton {
  display: flex;
}

.likeButton {
  margin-right: 10px;
}