@import "../../styles/abstracts";
.featuredNewsletters {
  width: 100%;
  display: flex;
  position: relative;
  h3 {
    @include get-vw(font-size, 40px, 36px);
    @include get-vw(margin-bottom, 20px, 18px);
    @include get-vw(letter-spacing, -1.2px, -1.08px);
    font-family: $gtBold;
    line-height: 95%;
    margin-bottom: 20px;
  }

  @include bp-767 {
    flex-direction: column;
    h3 {
      font-size: 40px;
    }
  }
}
.left, .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  border-top: 0.5px solid var(--color);

  @include bp-767 {
    width: 100%;
  }
}
.left {
  position: relative;
  &:after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 21%;
    min-width: 100px;
    background: linear-gradient(270deg, var(--bgColor) 0%, var(--bgColor) 20%, rgba(241, 203, 69, 0) 100%);
    z-index: 2;
  }

  @include bp-767 {
    padding-bottom: 20px;
  }
}
.right {
  text-align: center;
  align-items: center;
  @include get-vw(padding-left, 68px, 40px);
  @include get-vw(padding-right, 68px, 40px);
  p {
    color: #060606;
    text-align: center;
    font-family: $neueMed;
    font-size: 14px;
    line-height: 142.857%;
  }
  form {
    width: 100%;
    margin-top: 20px;
    display: flex;
    @include get-vw(height, 40px, 40px);
    font-family: $neueMed;
    input {
      width: 100%;
      border: 1px solid #060606;
      color: var(--color);
      flex: 1;
      @include get-vw(padding-left, 20px, 20px);
      @include get-vw(font-size, 16px, 16px);
      &::placeholder {
        color: var(--color);
        opacity: 0.5;
      }
    }
    button {
      border: 1px solid #060606;
      background: transparent;
      color: var(--color);
      @include get-vw(width, 165px, 100px);
      border-left: 0;
    }
  }

  @include bp-767 {
    padding-left: 0;
    padding-right: 0;
  }
}

.prev {
  transform-origin: center;
}

.slide {
  margin-right: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  @include get-vw(min-width, 268px, 240px);
  @include get-vw(max-width, 268px, 240px);
  border-right: 0.5px solid var(--color);
  &:last-child {
    border-right: none;
    padding-right: 100px;
    margin-right: 0;
    @include get-vw(min-width, 348px, 320px);
    @include get-vw(max-width, 348px, 320px);
  }
  h5 {
    @include get-vw(font-size, 20px, 20px);
    @include get-vw(letter-spacing, -0.6px, -0.6px);
    font-family: $gtBold;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
  }
  p {
    @include get-vw(font-size, 15px, 15px);
    line-height: 1.33;
  }
}
.slideTop {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  .imageWrapper {
    @include get-vw(min-width, 26px, 26px);
    @include get-vw(height, 26px, 26px);
    margin-right: 10px;
    position: relative;
  }
}
.controls {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  z-index: 3;
  gap: 12px;
  height: 100%;
  justify-content: center;
  button {
    width: 40px;
    height: 40px;
  }
}
.tagline {
  color: #060606;
  text-align: center;
  font-family: $gtBold;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding-top: 20px;
}