@import "../../styles/abstracts";
.imageWrapper {
  min-width: 67%;
  position: relative;
  height: 100%;

  @include bp-767 {
    height: auto;
    aspect-ratio: 1.49/1;
  }
}
.postInfo {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  justify-content: space-between;
  position: relative;
  &:before {
    content: "";
    height: 0.5px;
    width: 100%;
    background-color: var(--accentLight);
    position: absolute;
    left: 0;
    top: 0;
  }
  &:after {
    content: "";
    height: 0.5px;
    width: 100%;
    background-color: var(--accentLight);
    position: absolute;
    left: 0;
    bottom: 0;
  }

  @include bp-767 {
    padding-top: 0;
    &:before {
      content: none;
    }

  }
}
.title {
  font-family: $gtBold;
  @include get-vw(font-size, 80px, 60px);
  @include get-vw(letter-spacing, -2.4px, -1.8px);
  line-height: 90%;
  @include bp-1024 {
    font-size: 55px;
  }
  @include bp-959 {
    font-size: 40px;
  }
}

.bottom {
  display: flex;
  flex-direction: column;
  position: relative;

}
