@import "../../styles/abstracts";
.header {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  font-family: $neueBold;
  color: var(--color);
  background-color: var(--bgColor);
  font-size: 14px;
  white-space: nowrap;
}
.left, .right {
  display: flex;
  align-items: center;
}
.left {
  svg:first-child {
    width: 34px;
    height: auto;
  }
  svg:last-child:not(:first-child) {
    width: auto;
    height: 20px;
  }
  span {
    height: 24px;
    width: 1px;
    background-color: var(--color);
    margin-left: 11px;
    margin-right: 11px;
  }
  a {
    display: flex;
  }
  path {
    fill: var(--color);
  }
  h2 {
    color: var(--color);
    font-size: 14px;
    @include get-vw(font-size, 14px, 14px);
    line-height: 1;
    position: relative;
    bottom: -2px;
    margin-left: 20px;
  }
  @media (min-width: 1700px) {
    h2 {
      font-size: 17px;
    }
  }
  @include bp-767 {
    svg:first-child {
      width: 25px;
      height: auto;
    }
    svg:last-child:not(:first-child) {
      width: auto;
      height: 16px;
    }
    h2 {
      display: none;
    }
  }
}
.right {
  gap: 20px;
  .btn {
    min-width: 87px;
    height: 29px;
    padding-bottom: 1px;
  }
  @include bp-767 {
    gap: 15px;
    .btn {
      min-width: 79px;
      height: 26px;
    }
    a:first-child {
      display: none;
    }
  }
}
.hammy {
  display: flex;
  &:focus {
    outline: none;
  }
}
.topTabs {
  height: 30px;
  display: flex;
  border-bottom: 0.5px solid var(--accentLight);
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
  a {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 21px;
    @include get-vw(padding-left, 21px, 18px);
    font-size: 14px;
    border-right: 0.5px solid var(--accentLight);
    &:last-child {
      border-right: none;
    }
  }

  @include bp-767 {
    overflow-x: auto;
    a {
      padding: 0 20px;
    }
  }
}

.activeDot {
  transform: scale(0);
  transition: .22s transform $ease-out-sine;
  transform-origin: center;
}
.active {
  .activeDot {
    transform: scale(1);
  }
}
.categoryRadio {
  width: 15px;
  height: 15px;
  svg {
    width: 100%;
    height: 100%;
  }
}

.mainNav {
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.flowHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  svg {
    width: 33px;
    height: 24px;
  }
}