@import "../../styles/abstracts";

.latestWriters {
  background: #1C1C1C;
  padding-top: 40px;
  padding-bottom: 40px;
  h3 {
    font-family: $gtBold;
    @include get-vw(font-size, 120px, 95px);
    @include get-vw(letter-spacing, -3.6px, -2.85px);
    line-height: 78.333%;
  }

  @include bp-767 {
    padding-top: 20px;
    padding-bottom: 20px;
    h3 {
      font-size: 60px;
      letter-spacing: -1.8px;
    }
  }
}
.inner {
  display: flex;
  flex-direction: column;
}
.bottom {
  display: flex;
  justify-content: space-between;

  @include bp-767 {
    flex-wrap: wrap;
  }
}
.imgWrapper {
  aspect-ratio: 1/1;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
  width: 100%;
  a {
    display: flex;
    align-items: center;
    white-space: nowrap;
    @include get-vw(font-size, 17.5px, 17.5px);
    @include get-vw(gap, 9px, 9px);
    @include get-vw(top, -6px, -6px);
    font-family: $neueMed;
    position: relative;
  }

  @include bp-767 {
    margin-bottom: 0;
    a {
      display: none;
    }
  }
}
.left  {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.blurb {
  @include get-vw(font-size, 17px, 17px);
  line-height: 142.857%;
}
.name {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: $gtBold;
  @include get-vw(font-size, 40px, 36px);
  @include get-vw(letter-spacing, -1.2px, -1.08px);
  line-height: 95%;

  @include bp-767 {
    font-size: 26px;
    letter-spacing: -0.78px;
    align-items: center;
  }
}
.title {
  @include get-vw(font-size, 15px, 15px);
  line-height: 133.333%;
  letter-spacing: -0.45px;
  margin-top: 10px;
}
.mobileViewAll {
  display: none;
  @include bp-767 {
    display: flex;
    border: 1px solid #e3e3e3;
    padding: 8px 18px 8px;
    align-self: center;
    font-family: $neueMed;
    font-size: 14px;
  }
}