@import "../../styles/abstracts";
.megaNav {
  @include get-vw-large-increase(width, 400px, 400px);
  @include get-vw-large-increase(padding-left, 20px, 20px);
  @include get-vw-large-increase(padding-right, 20px, 20px);
  @include get-vw-large-increase(padding-bottom, 35px, 35px);
  display: flex;
  pointer-events: none;
  flex-direction: column;
  height: 100%;
  position: fixed;
  opacity: 0;
  right: 0;
  font-family: $neueBold;
  background-color: #e3e3e3;
  color: #060606;
  z-index: 102;
  top: 0;

  @include bp-767 {
    width: 100%;
  }
}
.navBackdrop {
  position: fixed;
  z-index: 101;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  background: rgba(6, 6, 6, 0.5);
  opacity: 0;
  pointer-events: none;
  @include bp-767 {
    display: none;
  }
}
.top,
.middle,
.bottom {
  display: flex;
  flex-direction: column;
  @include get-vw-large-increase(font-size, 22px, 22px);
  @include get-vw-large-increase(margin-bottom, 26px, 26px);
  position: relative;
}
.closeNav {
  z-index: 3;
  position: absolute;
  transform: translateZ(0);
  @include get-vw-large-increase(top, 20px, 20px);
  @include get-vw-large-increase(right, 22px, 22px);
  @include get-vw-large-increase(width, 16px, 16px);
  @include get-vw-large-increase(height, 16px, 16px);
  rect {
    fill: #060606;
  }
}
.top {
  @include get-vw-large-increase(gap, 19px, 19px);
  @include get-vw-large-increase(padding-top, 54px, 54px);

  @include bp-767 {
    a {
      font-size: 24px;
    }
  }
}

.middle {
  @include get-vw-large-increase(gap, 19px, 19px);
  @include get-vw-large-increase(padding-top, 19px, 19px);
  &:after {
    width: 100%;
    position: absolute;
    height: 0.5px;
    background: #060606;
    opacity: 0.55;
    content: "";
    top: 0;
    left: 0;
  }

  @include bp-767 {
    a {
      font-size: 24px;
    }
  }
}

.bottom {
  @include get-vw-large-increase(gap, 15px, 15px);
  @include get-vw-large-increase(font-size, 15px, 15px);
  @include get-vw-large-increase(padding-top, 27px, 27px);
  font-family: $neueReg;
  &:after {
    width: 100%;
    position: absolute;
    height: 0.5px;
    background: #060606;
    opacity: 0.55;
    content: "";
    top: 0;
    left: 0;
  }
  @include bp-767 {
    a {
      font-size: 16px;
    }
  }
}
.socialRow {
  display: flex;
  @include get-vw-large-increase(gap, 25px, 25px);
  align-items: center;
  margin-top: auto;
  path {
    fill: #060606;
  }
  svg {
    height: auto;
  }
  a {
    @include get-vw-large-increase(height, 20px, 20px);
    @include get-vw-large-increase(width, 20px, 20px);
    display: flex;
    align-items: center;
    &:nth-child(3) {
      @include get-vw-large-increase(height, 25px, 25px);
      @include get-vw-large-increase(width, 25px, 25px);
    }
  }
  @include bp-767 {
    justify-content: center;
    @include get-vw-large-increase(gap, 35px, 35px);
    svg {
      height: 100%;
    }
  }
}
