@import "../../styles/abstracts";
.megaNav {
  @include get-vw(width, 400px, 400px);
  @include get-vw(padding-left, 20px, 20px);
  @include get-vw(padding-right, 20px, 20px);
  @include get-vw(padding-bottom, 35px, 35px);
  display: flex;
  visibility: hidden;
  pointer-events: none;
  flex-direction: column;
  height: 100%;
  position: fixed;
  right: 0;
  background-color: var(--bgColor);
  color: var(--color);
  z-index: 2;
  top: 0;
}
.top, .middle, .bottom {
  display: flex;
  flex-direction: column;
  @include get-vw(font-size, 18px, 18px);
  @include get-vw(margin-bottom, 24px, 24px);
  position: relative;
  
}
.closeNav {
  z-index: 3;
  position: absolute;
  @include get-vw(top, 20px, 20px);
  @include get-vw(right, 22px, 22px);
  @include get-vw(width, 16px, 16px);
  @include get-vw(height, 16px, 16px);
  rect {
    fill: var(--color);
  }
}
.top {
  @include get-vw(gap, 19px, 19px);
  @include get-vw(padding-top, 54px, 54px);
}

.middle {
  @include get-vw(gap, 15px, 15px);
  @include get-vw(padding-top, 19px, 19px);
  &:after {
    width: 100%;
    position: absolute;
    height: 0.5px;
    background: var(--color);
    opacity: 0.55;
    content: "";
    top: 0;
    left: 0;
  }
}

.bottom {
  @include get-vw(gap, 13px, 13px);
  @include get-vw(font-size, 12px, 12px);
  @include get-vw(padding-top, 27px, 27px);
  font-family: $neueReg;
  &:after {
    width: 100%;
    position: absolute;
    height: 0.5px;
    background: var(--color);
    opacity: 0.55;
    content: "";
    top: 0;
    left: 0;
  }
}
.socialRow {
  display: flex;
  @include get-vw(gap, 23px, 23px);
  align-items: center;
  margin-top: auto;
  path {
    fill: var(--color);
  }
}