@import "../../styles/abstracts";

.podcastCallout {
  color: var(--bgColor);
  background-color: var(--color);
  padding: 20px 20px 40px 20px;
  display: flex;
  h3 {
    width: 81.4%;
  }
  .goIcon {
    top: auto;
    > div {
      background-color: var(--bgColor);
    }
    path {
      fill: var(--color);
    }
  }

  @include bp-1024 {
    h3 {
      width: 100%;
    }
  }

  @include bp-959 {
    h3 {
      font-size: 100px;
    }
  }

  @include bp-767 {
    padding: 20px 10px 20px;
    h3 {
      font-size: 15.38vw;
    }
  }
}
.inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
  padding: 0;
  @include bp-1024 {
    align-items: flex-start;
    flex-direction: column;
  }
}
.video {
  @include get-vw(width, 225px);
  height: auto;
  aspect-ratio: 1.77/1;
  display: inline-block;
  video {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
  @include bp-767 {
    width: 24vw;
  }
}
