.container {
  position: sticky;
  display: flex;
  width: 100%;
  background: #060606;
  color: #e3e3e3;
}

.remainCount {
  font-family: "Helvetica Neue" !important;
  font-weight: 700;
}

.description {
  font-family: "Helvetica Neue" !important;
  font-weight: 500;
}
