@import "../abstracts";

.left {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include get-vw-small-increase(gap, 20px, 20px);
  @include bp-767 {
    width: 100%;
    padding-left: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.textInput {
  border: 1px solid var(--color);
}

.accountBtn {
  border: 1px solid #060606;
  @include get-vw-small-increase(height, 40px, 40px);
  @include get-vw-small-increase(font-size, 16px, 16px);
  font-family: $neueMed;
  background: #060606;
  color: #e3e3e3;
}
.subscriptionBtn {
  width: 100%;
  border: 1px solid #060606;
  @include get-vw-small-increase(height, 40px, 40px);
  @include get-vw-small-increase(font-size, 16px, 16px);
  font-family: $neueMed;
  background: #060606;
  color: #e3e3e3;
}

.tag {
  @include get-vw-small-increase(height, 23px, 23px);
  @include get-vw-small-increase(font-size, 11px, 11px);
  @include get-vw-small-increase(border-radius, 3px, 3px);
  font-family: $neueMed;
  background-color: #fafafa;
  padding: 5px 8px 4px 7px;
  color: #000000;

  &.subscriptionActive {
    background-color: #76c87e;
  }

  &.subscriptionInactive {
    background-color: #f1cb45;
  }
}

.cardWrapper {
  flex-direction: column;
  display: none;
  align-items: flex-start;
  @include get-vw-small-increase(gap, 20px, 20px);

  &.activeCard {
    display: flex;
  }

  form {
    flex-direction: column;
    @include get-vw-small-increase(gap, 5px, 5px);
    display: flex;
  }

  label, p {
    font-family: $neueMed;
    @include get-vw-small-increase(font-size, 14px, 14px);
    text-align: left;
  }

  label {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  input:not([type="checkbox"]) {
    background: #e3e3e3;
    font-family: $neueReg;
    @include get-vw-small-increase(font-size, 15px, 15px);
    @include get-vw-small-increase(height, 40px, 40px);
    @include get-vw(font-size, 14px, 14px);
    @include get-vw(padding-left, 15px, 15px);
    display: flex;
    align-items: center;
  }
}

.bottom {
  display: flex;
  align-items: flex-start;
  width: 100%;
  @include get-vw-small-increase(gap, 173px);
  @include bp-767 {
    flex-direction: column;
    gap: 40px;
  }
}

.infoGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 0.5px solid #000000;
  @include get-vw-small-increase(gap, 20px, 20px);
  @include get-vw-small-increase(padding-bottom, 20px, 20px);

  &:last-child {
    border-bottom: none;
  }

  p a {
    text-decoration: underline rgba(0, 0, 0, 1);
    text-underline-position: under;
    text-decoration-thickness: 0.05em;
    text-underline-offset: 2px;
  }
}

.top {
  width: 100%;
  @include get-vw-small-increase(padding-bottom, 14px, 14px);
  @include get-vw-small-increase(margin-bottom, 33px, 33px);
  border-bottom: 0.5px solid #000000;
}

.cardTrigger,
.pseudoLabel {
  font-family: $neueMed;
  @include get-vw-small-increase(font-size, 14px, 14px);
}

.textGroup {
  gap: 3px;

  p:last-child {
    font-family: $neueReg;
    @include get-vw-small-increase(font-size, 14px, 14px);
    @include get-vw-small-increase(margin-top, 3px, 3px);
  }
}

.right {
  display: flex;
  flex-direction: column;
  flex: 1;
  @include get-vw-small-increase(padding-left, 40px, 40px);
  @include bp-767 {
    width: 100%;
    padding-left: 0;
  }
}

.toggleSwitch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggleSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #000;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: none;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
