@import "../abstracts";

.contributorsGrid {
  display: flex;
  flex-wrap: wrap;
  @include get-vw(padding-top, 23px, 23px);
  @include get-vw(margin-top, 57px, 57px);
  @include get-vw(padding-bottom, 89px, 89px);
  border-top: 0.5px solid #323232;
  border-bottom: 0.5px solid #323232;
  a {
    width: 33.33%;
    display: flex;
    @include get-vw(font-size, 40px, 36px);
    @include get-vw(padding-top, 20px, 20px);
    @include get-vw(padding-bottom, 20px, 20px);
    @include get-vw(margin-bottom, 37px, 37px);
    @include get-vw(letter-spacing, -1.2px, -1.08px);
    font-family: $gtBold;
    line-height: 95%;
  }
}
.authorsPage {
  h1 {
    @include get-vw(padding-top, 18px, 18px);
  }
}
.contributorsHeader {
  @include get-vw(font-size, 100px, 85px);
  @include get-vw(letter-spacing, -3px, 2.55px);
  @include get-vw(margin-bottom, 20px, 20px);
  font-family: $gtBold;
  line-height: 94%;
  display: flex;
  width: 100%;
}
.hiringLink {
  @include get-vw(font-size, 18px, 18px);
  @include get-vw(margin-left, 6px, 6px);
  @include get-vw(letter-spacing, -0.527px, -0.527px);
  font-family: $neueMed;
  line-height: 84%;
  text-decoration-line: underline;
}
