@import "../abstracts";
.careersPage {
  h1 {
    @include get-vw(padding-top, 18px, 18px);
  }
}
.careersGrid {
  display: flex;
  flex-direction: column;
}
.openCasting {
  display: flex;
  text-align: center;
  justify-content: center;
  h4 {
    @include get-vw(font-size, 40px, 36px);
    @include get-vw(margin-bottom, 20px, 18px);
    @include get-vw(letter-spacing, -1.2px, -1.08px);
    font-family: $gtBold;
    line-height: 95%;
  }
  a {
    text-decoration: underline;
  }
}
.careerRow {
  display: flex;
  justify-content: space-between;
  @include get-vw(padding-top, 34px, 34px);
  @include get-vw(padding-bottom, 46px, 46px);
  border-bottom: 0.5px solid var(--color);
  h3 {
    font-family: $gtBold;
    @include get-vw(font-size, 80px, 60px);
    @include get-vw(letter-spacing, -2.4px, -1.8px);
    line-height: 90%;
  }
}
.right {
  display: flex;
  align-items: center;
  position: relative;
  @include get-vw(bottom, -8px, -8px);
  @include get-vw(gap, 22px, 22px);
}
.date {
  font-family: $neueBold;
  @include get-vw(font-size, 14px, 14px);
}