/* /styles/pages/signIn.module.scss */
@import "../abstracts";
.verifyStep {
  @include get-vw-small-increase(margin-top, 15px, 15px);
}
.enterEmailStep {
  @include get-vw-small-increase(margin-top, 40px, 35px);
}
.signInWrapper {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  > div {
    width: 100%;
  }
  form {
    .errorNoAccount {
      color: #000000;
      font-family: $neueMed;
      font-size: 14px;
      margin-top: 10px;
    }

    .errorNoAccount a {
      text-decoration: underline;
    }
  }

  .substackNotice {
    display: flex;
    flex-wrap: wrap;
    @include get-vw-small-increase(padding-top, 23px, 23px);
    @include get-vw-small-increase(margin-top, 23px, 23px);
    gap: 13px;
    text-align: left;
    border-top: 0.5px solid var(--color);

    h3 {
      font-family: $neueMed;
      display: flex;
      align-items: center;
      color: #1c1c1c;
      @include get-vw-small-increase(font-size, 14px, 14px);
      @include get-vw-small-increase(gap, 12px, 12px);
    }

    svg {
      @include get-vw-small-increase(width, 14px, 14px);
    }

    p {
      font-family: $neueReg;
      line-height: 1.37;
      color: #1c1c1c;
      @include get-vw-small-increase(font-size, 11px, 11px);
    }
  }
}
