/* /styles/pages/signIn.module.scss */
@import "../abstracts";
.verifyStep {
  @include get-vw-small-increase(margin-top, 15px, 15px);
}
.enterEmailStep {
  @include get-vw-small-increase(margin-top, 40px, 35px);
}
.signInWrapper {
  font-family: $neueMed;
  @include get-vw(font-size, 14px, 14px);
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  text-align: center;
  > div {
    width: 100%;
  }
  form {
    label {
      display: block;
      margin-bottom: 10px;
      color: #060606;
      text-align: left;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #060606;
    }

    button {
      width: 100%;
      padding: 12px;
      background-color: #000;
      color: #fff;
      border: 1px solid #000;
      cursor: pointer;
      transition: background-color 0.2s;
    }
    body:not(.touch) & {
      button:hover {
        background-color: #111;
      }
    }
  }

  .error {
    color: #e30202;
    font-family: $neueMed;
    font-size: 12px;
    margin-top: 5px;
  }

    .errorNoAccount {
      color: #000000;
      font-family: $neueMed;
      font-size: 14px;
      margin-top: 10px;
    }

                .errorNoAccount a {
                  text-decoration: underline;
                }

  .success {
    color: green;
    font-size: 12px;

    width: 100%;
    max-width: 400px;
    padding: 20px;
    text-align: center;

    form {
      label {
        display: block;
        margin-bottom: 10px;
      }

      input {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      button {
        width: 100%;
        padding: 10px;
        background-color: #000;
        color: #fff;
        border: 1px solid #000;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s;
      }
      body:not(.touch) & {
        button:hover {
          background-color: #111;
        }
      }
    }

    .error {
      color: #e30202;
      font-family: $neueMed;
      font-size: 12px;
      margin-top: 5px;
    }

    .success {
      color: green;
    }
  }

  .otp-input-container {
    display: flex;
    gap: 10px;

    input {
      width: 50px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      text-align: center;
      border: 1px solid #000;
    }
  }

  .disclaimer {
    position: absolute;
    bottom: 20px;

    a {
      text-decoration: underline;
    }
  }

  .substackNotice {
    display: flex;
    flex-wrap: wrap;
    @include get-vw-small-increase(padding-top, 23px, 23px);
    @include get-vw-small-increase(margin-top, 23px, 23px);
    gap: 13px;
    text-align: left;
    border-top: 0.5px solid var(--color);

    h3 {
      font-family: $neueMed;
      display: flex;
      align-items: center;
      color: #1c1c1c;
      @include get-vw-small-increase(font-size, 14px, 14px);
      @include get-vw-small-increase(gap, 12px, 12px);
    }

    svg {
      @include get-vw-small-increase(width, 14px, 14px);
    }

    p {
      font-family: $neueReg;
      line-height: 1.37;
      color: #1c1c1c;
      @include get-vw-small-increase(font-size, 11px, 11px);
    }
  }
  h2 {
    color: #060606;
    font-family: $neueMed;
    font-size: 14px;
    line-height: normal;
    margin-bottom: 30px;
  }
  button + a {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    color: #06060680;
  }
}
