@import "../abstracts";

.subscribeWrapper {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  .copy {
    @include get-vw-small-increase(margin-bottom, 40px, 40px);
    line-height: 1.4;
  }
  form {
    width: 100%;
  }
  h1 {
    @include get-vw-small-increase(margin-bottom, 15px, 15px);
    white-space: nowrap;
  }
  input {
    border: 1px solid black;
    color: black;
  }
  form {
    @include get-vw-small-increase(margin-bottom, 15px, 15px);
  }
  .altLink {
    text-decoration: underline rgba(0, 0, 0, 0.5);
    text-underline-position: under;
    text-decoration-thickness: 0.05em;
    text-underline-offset: 2px;
  }
  button {
    margin-top: 20px;
  }
  @include bp-767 {
    h1 {
      white-space: initial;
    }
  }
}
.subscriptionDetails {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.error {
  color: red;
  font-size: 15px;
}

.success {
  color: green;
  font-size: 15px;
}
