@import "./abstracts";
@import "./resets";

@font-face {
  font-family: 'Gt America Compressed Bold';
  src: url("../public/fonts/GT-America-Compressed-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Reg';
  src: url("../public/fonts/HelveticaNeueReg.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Med';
  src: url("../public/fonts/HelveticaNeueMed.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Bold';
  src: url("../public/fonts/HelveticaNeueBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

// Global elements
html, body {
  overscroll-behavior: none;
}
input {
  border: none;
  background-color: transparent;
  &:focus {
    outline: none;
  }
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  &.square {
    border: 0.5px solid var(--color);
  }
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  font-family: $neueBold;
  color: var(--color);
  background-color: var(--bgColor);
  white-space: nowrap;
}

main {
  padding-top: 80px;
}
.colorWrapper {
  background-color: var(--bgColor);
  color: var(--color);
}
.embla {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .prev, .next {
    transition: opacity .22s $ease-in-out-sine;
    &.disabled {
      opacity: .6;
      pointer-events: none;
    }
  }
}
.embla__container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
.embla__slide {
  position: relative;
}
.theme-color {
  &.white-pill {
    background-color: var(--whitePillBgColor);
    color: var(--whitePillColor);
  }
  &.industry {
    background-color: var(--industryBgColor);
    color: var(--industryColor);
  }
}
.pageTitle {
  font-family: $gtBold;
  @include get-vw(font-size, 178px, 140px);
  @include get-vw(letter-spacing, -5.34px);
  line-height: 84.27%;
}
footer {
  padding-top: 40px;
  color: var(--color);
  background-color: var(--bgColor);
  .bottom {
    border-top: 1px solid var(--color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $neueMed;
    font-size: 14px;
  }
  .left, .middle, .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  .svgWrapper {
    path {
      fill: var(--color);
    }
  }

  @include bp-959 {
    .bottom {
      flex-wrap: wrap;
      border-top: none;
    }
    .left {
      order: 2;
      width: 50%;
      justify-content: flex-start;
    }
    .middle {
      width: 100%;
      justify-content: center;
      order: 1;
      border-bottom: 1px solid var(--color);
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
    .right {
      width: 50%;
      order: 2;
      justify-content: flex-end;
    }
  }

  @include bp-767 {
    padding-top: 20px;
    .bottom {
      align-items: flex-end;
      padding-bottom: 72px;
    }
    .left {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  }
}

.imgWrapper {
  position: relative;
  width: 100%;
  height: auto;
}

.cover-image {
  position: absolute;
  width: 100%;
  height: 100%;
}

// Global author styles
.authorTile {
  display: flex;
  flex-direction: column;
  width: calc(25% - 30px);
  position: relative;
  &:after {
    width: 0.5px;
    background-color: var(--color);
    height: 100%;
    right: -20px;
    top: 0;
    opacity: 0.6;
    position: absolute;
    content: "";
  }

  @include bp-1024 {
    width: calc((100% / 3) - 27px);
    &:last-child {
      display: none;
    }
    &:nth-child(3) {
      &:after {
        content: none;
      }
    }
  }

  @include bp-767 {
    width: calc(50% - 10px);
    margin: 20px 0;
    &:last-child {
      display: flex;
    }
    &:after {
      right: -10px;
    }
    &:nth-child(3) {
      &:after {
        content: "";
      }
    }
    &:nth-last-child(-n + 2) {
      &:before {
        content: "";
        height: 0.5px;
        width: 100%;
        background-color: var(--color);
        position: absolute;
        left: 0;
        top: -20px;
      }
    }
    &:nth-child(even) {
      &:after {
        content: none;
      }
    }
  }
}

// Global post styles
.postGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  article, .pubLink, .dummyTile, .authorTile {
    width: calc((100% / 3) - 27px);
    position: relative;
    &:before {
      content: "";
      height: 0.5px;
      width: 100%;
      background-color: var(--color);
      position: absolute;
      left: 0;
      top: -20px;
    }
    &:after {
      content: "";
      width: 0.5px;
      height: 100%;
      background-color: var(--color);
      position: absolute;
      right: -20px;
      top: 0;
    }
    &:nth-child(3n+3) {
      &:after {
        content: none;
      }
    }
    &:nth-child(-n+3) {
      &:before {
        content: none;
      }
    }
  }
  &.pirate-wires {
    article, .pubLink {
      &:before, &:after {
        background-color: var(--accentDark);
      }
    }
    .excerpt {
      opacity: .7;
    }
  }
  .imgWrapper {
    aspect-ratio: 1.5/1;
    margin-bottom: 20px;
  }
  .postTitle {
    font-family: $gtBold;
    text-wrap: balance;
    @include get-vw(font-size, 40px, 36px);
    @include get-vw(padding-right, 40px, 40px);
    @include get-vw(letter-spacing, -1.2px, -1.08px);
    line-height: 95%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
  }
  .goIcon {
    right: 0;
    position: absolute;
  }
  .white-pill & {
    article, .pubLink {
      &:before {
        background-color: var(--whitePillColor);
        opacity: 0.6;
      }
      &:after {
        background-color: var(--whitePillColor);
        opacity: 0.6;
      }
    }
    .goIcon .leftHalf, .goIcon .rightHalf {
      background-color: var(--whitePillColor);
    }
    .goIcon path {
      fill: var(--whitePillBgColor);
    }
  }
  .industry & {
    article, .pubLink {
      &:before {
        background-color: var(--industryColor);
        opacity: 0.6;
      }
      &:after {
        background-color: var(--industryColor);
        opacity: 0.6;
      }
    }
    .goIcon .leftHalf, .goIcon .rightHalf {
      background-color: var(--industryColor);
    }
    .goIcon path {
      fill: var(--industryBgColor);
    }
  }

  .authorTile {
    &:before {
      background-color: #060606;
    }
    &:after {
      background-color: #060606;
    }
    .imgWrapper {
      aspect-ratio: 1/1;
    }
  }
  @include bp-959 {
    .postTitle {
      font-size: 26px;
    }
  }

  @include bp-767 {
    article, .pubLink, .dummyTile, .authorTile {
      width: calc(50% - 10px);
      &:after {
        content: "";
        width: 0.5px;
        height: 100%;
        background-color: var(--accentDark);
        position: absolute;
        right: -10px;
        top: 0;
      }
      &:nth-child(3n+3) {
        &:after {
          content: "";
        }
      }
      &:nth-child(-n+3) {
        &:before {
          content: "";
        }
      }
      &:nth-child(-n+2) {
        &:before {
          content: none;
        }
      }
      &:nth-child(even) {
        &:after {
          content: none;
        }
      }
      &:nth-last-child(-n+2) {
        margin-bottom: 0;
      }
    }
  }
}
.dummyTile {
  height: 0;
  opacity: 0;
}
.featuredPostsTop {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @include get-vw(font-size, 15px, 15px);
  line-height: 20px;
  .right {
    display: flex;
    flex-direction: column;
    font-family: $neueMed;
    line-height: 1.33;
    padding-left: 20px;
    width: 50%;
    align-items: flex-start;
    position: relative;
    &:after {
      width: 0.5px;
      background-color: var(--color);
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      content: "";
    }
  }
  a {
    text-decoration: underline;
  }
  .white-pill & {
    svg {
      @include get-vw(width, 196px, 150px);
      height: auto;
    }
    .right:after {
      background-color: var(--whitePillColor);
    }
  }
  .industry & {
    svg {
      @include get-vw(width, 154px, 113px);
      height: auto;
    }
    .right:after {
      background-color: var(--industryColor);
    }
  }

  @include bp-1024 {
    justify-content: flex-start;
    @include get-vw(gap, 120px, 55px);
    .right {
      width: auto;
    }
  }

  @include bp-767 {
    flex-direction: column;
    gap: 20px;
    .right {
      padding: 0;
      width: 100%;
      &:after {
        content: none;
      }
    }
  }
}
.postInfo {
  .white-pill & {
    &:before {
      background-color: var(--whitePillColor);
      opacity: 0.6;
    }
    &:after {
      background-color: var(--whitePillColor);
      opacity: 0.6;
    }
  }
  .industry & {
    &:before {
      background-color: var(--whitePillColor);
      opacity: 0.6;
    }
    &:after {
      background-color: var(--whitePillColor);
      opacity: 0.6;
    }
  }
}
.featuredPost {
  height: auto;
  aspect-ratio: 2.29/1;
  display: flex;
  a {
    display: flex;
    width: 100%;
    gap: 20px;
  }
  .white-pill & {
    .goIcon .leftHalf, .goIcon .rightHalf {
      background-color: var(--whitePillColor);
    }
    .goIcon path {
      fill: var(--whitePillBgColor);
    }
  }
  .industry & {
    .goIcon .leftHalf, .goIcon .rightHalf {
      background-color: var(--industryColor);
    }
    .goIcon path {
      fill: var(--industryBgColor);
    }
  }

  @include bp-767 {
    aspect-ratio: unset;
    a {
      flex-direction: column-reverse;
    }
  }
}
.interiorPub {
  .postInfo {
    padding-bottom: 0;
    border: none;
    &:after {
      content: none;
    }
    &:before {
      background-color: var(--color);
    }
  }
  .postGrid {
    padding-top: 20px;
    padding-bottom: 20px;
    --color: #060606;
    --bgColor: #E3E3E3;
    color: var(--color);
    background-color: var(--bgColor);
  }
  .featuredPostsTop {
    font-family: $neueMed;
    @include get-vw(padding-top, 20px, 20px);
  }
  &.pirate-wires {
    .prev, .next {
      rect {
        fill: var(--color);
      }
      path {
        fill: var(--bgColor);
      }
    }
  }
}
.pubLink {
  height: auto;
  aspect-ratio: .85/1;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.10);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  h2, h3, h4 {
    font-family: $gtBold;
    @include get-vw(font-size, 80px, 60px);
    @include get-vw(letter-spacing, -2.4px, -1.8px);
    line-height: 90%;
  }
  .goIconWrapper {
    align-self: flex-end;
  }

  @include bp-1024 {
    h2, h3, h4 {
      font-size: 40px;
    }

  }
}
.postAuthor {
  font-family: $neueMed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include get-vw(font-size, 14px, 14px);
  @include get-vw(letter-spacing, 0.07px, 0.07px);
  margin-top: 13px;
}

.excerpt {
  @include get-vw(font-size, 17px, 15px);
  @include get-vw(margin-top, 20px, 20px);
  opacity: 0.95;
  position: relative;
  @include get-vw(padding-right, 40px, 40px);
  display: flex;
  span {
    position: relative;
    @include get-vw(padding-top, 20px, 10px);
    &:after {
      height: 1px;
      width: 100%;
      border-top: 0.5px dashed var(--color);
      opacity: 0.5;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
    }
  }

  @include bp-767 {
    padding-right: 0;
  }
}
// Global form styles
.inputWrapper {
  @include get-vw(height, 50px, 50px);
  display: flex;
  font-family: $neueMed;
  @include get-vw(font-size, 16px, 16px);
  input {
    @include get-vw(padding-left, 16px, 16px);
    height: 100%;
  }
  button {
    height: 100%;
  }
}

// Global other
.hasHoverArrow {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  span {
    @include get-vw(margin-left, 9px, 9px);
    position: relative;
    display: flex;
  }
  svg {
    @include get-vw(width, 12.5px, 12.5px);
    @include get-vw(height, 12.5px, 12.5px);
  }
}
.hasGoIcon {
  .date {
    opacity: 0;
    transition: .2s opacity $ease-out-sine;
  }
  &:hover {
    .date {
      opacity: 1;
    }
    .leftHalf {
      transform: translateY(-2px);
    }
    .rightHalf {
      transform: translateY(2px);
    }
  }
}
.goIconWrapper {
  display: flex;
  align-items: center;
  @include get-vw(gap, 20px, 10px);
  @include get-vw(font-size, 14px, 14px);
  .goIcon {
    position: relative;
    top: -2px;
  }
}
.goIcon {
  @include get-vw(width, 20px, 20px);
  @include get-vw(height, 20px, 20px);
  min-width: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .leftHalf, .rightHalf {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: var(--color);
    transition: transform .2s $ease-out-sine;
  }
  path {
    fill: var(--bgColor);
  }
  svg {
    position: relative;
    z-index: 2;
  }
  .rightHalf {
    left: auto;
    right: 0;
  }
  .date {
    font-family: $neueMed;
    @include get-vw(font-size, 14px, 14px);
    line-height: 1.43;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 100%;
    top: 50%;
    left: 0;
    white-space: nowrap;
    height: 100%;
  }
}

// font classes
.caslon-reg {
  font-family: $caslon;
  font-weight: 400;
}
.caslon-med {
  font-family: $caslon;
  font-weight: 500;
}

// container & spacing styles
.c-20 {
  @include get-vw(padding-left, 20px, 20px);
  @include get-vw(padding-right, 20px, 20px);
  @include bp-767 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.mtb-20 {
  @include get-vw(margin-top, 20px, 20px);
  @include get-vw(margin-bottom, 20px, 20px);
}

.mt-20 {
  @include get-vw(margin-top, 20px, 20px);
}

.mb-20 {
  @include get-vw(margin-bottom, 20px, 20px);
}

.ptb-20 {
  @include get-vw(padding-top, 20px, 20px);
  @include get-vw(padding-bottom, 20px, 20px);
}

.pt-20 {
  @include get-vw(padding-top, 20px, 20px);
}

.pb-20 {
  @include get-vw(padding-bottom, 20px, 20px);
}

.ptb-40 {
  @include get-vw(padding-top, 40px, 32px);
  @include get-vw(padding-bottom, 40px, 32px);
  @include bp-767 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.pt-40 {
  @include get-vw(padding-top, 40px, 32px);
  @include bp-767 {
    padding-top: 20px;
  }
}

.pb-40 {
  @include get-vw(padding-bottom, 40px, 32px);
  @include bp-767 {
    padding-bottom: 20px;
  }
}