@import "./abstracts";
.supabase-auth-ui_ui-label {
  font-size: 14px !important;
  margin-bottom: 9px !important;
  font-family: $neueMed !important;
  color: var(--color) !important;
  text-align: left;
}
.supabase-auth-ui_ui-input {
  border: 1px solid #060606 !important;
  background: #E3E3E3 !important;
  border-radius: 0 !important;
  height: 40px !important;
}

.supabase-auth-ui_ui-button {

}