@import "./abstracts";
.supabase-auth-ui_ui-label {
  font-size: 14px !important;
  margin-bottom: 9px !important;
  font-family: $neueMed !important;
  color: var(--color) !important;
  text-align: left;
}
.supabase-auth-ui_ui-input {
  border: 1px solid #060606 !important;
  background: #E3E3E3 !important;
  border-radius: 0 !important;
  height: 40px !important;
}

.supabase-auth-ui_ui-button {
  border: 1px solid #060606 !important;
  background: #060606 !important;
  height: 40px !important;
  color: #E3E3E3 !important;
  text-align: center !important;
  font-family: $neueReg !important;
  font-size: 14px !important;
  border-radius: 0 !important;
}

.supabase-auth-ui_ui-anchor {
  color: #060606 !important;
  text-align: center !important;
  font-family: $neueMed !important;
  font-size: 14px !important;
}

.supabase-auth-ui_ui-message, .c-bBDnOe-dLwhLa-color-danger {
  font-family: $neueReg !important;
  font-size: 14px !important;
  border: 1px solid #060606 !important;
  background-color: transparent !important;
  color: #060606 !important;
  height: 40px !important;
  padding: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 0 !important;
}